#start-btn {
    width: 40%;
}

#camera {
    width: 360px;
    height: 250px;
    border: 1px solid grey;
}

#logo_img {
    width: 150px;
    border-radius: 100px;
}

#textbox {
    width: 300px;
}

.header:hover {
    text-decoration: underline;

}

h1:hover {
    color: darkblue;

}

h4:hover {
    text-decoration: underline;

}

label:hover {
    width: 40px;
}

#textbox {
    height: 0.1px;
    width: 0.1px;

}

img {
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

img:hover {
    border-radius: 140px;
}

.header {
    color: white;
    font-family: 'Yeon Sung';
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 80px;
}